@model IEnumerable<bigschool2.Models.Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="row">x
    <ul class="course">
        @foreach (var item in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @item.DateTime.ToString("MM");
                    </div>
                    <div class="day">
                        @item.DateTime.ToString("dd");
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @item.Lecturer.Name
                    </span>
                    <span class="category">
                        @*@item.Category.Name*@
                    </span>
                </div>
            </li>
        }
    </ul>
</div>

