@model IEnumerable<bigschool2.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <ul>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <span>
                        @item.DateTime
                    </span>
                    <span>
                        @item.Lecturer.Name
                    </span>
                </li>
            }
        </ul>
    </ul>
</div>